body {
  height: 100vh;
  font-family: 'Roboto Slab', serif;

  background: rgb(215, 215, 215);
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgets {
  /*min-width: 700px;*/
  width: 61.8%;
  margin-top: 60px;
  /*background-color: rgba(0,0,0,0.2);*/
  background-color: rgba(255,255,255,0.5);
  padding: 60px 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: -5px -5px 10px rgba(0,0,0,0.5);
}

.links-div {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.links-div > a > svg {
  fill: black;
}

.links-div > a:hover > svg {
  fill: #0099ff;
}

.widgets > div {
  background-color: rgba(255,255,255,0.7);
  margin: 0;
  padding: 20px 40px 40px 40px;
  border-radius: 5px;
}

.todo-list-div {
  padding: 10px;
  width: 30%;
  min-width: 300px;
  /*height: 100px;*/
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FCFBBA;
}

.todo-list {
  background: #FFFFF0;
  border: 1px solid black;
  list-style: none;
  padding: 0;
  /*width: 20%;*/
}

.todo-list > li {
  /*width: 100%;*/
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.todo-list > li:not(:last-of-type) {
  border-bottom: 1px solid black;
  margin: 0;
}

.todo-list > li > button {
  margin: 0;
  padding: 3px;
  background: transparent;
  color: firebrick;
  border: none;
  font-family: 'Indie Flower', cursive;
  font-size: 1.05em;
}

.todo-list > li > button:focus {
  outline: none;
}

.todo-list > li > button:hover {
  color: red;
}
.todo-list > li > button:hover + span {
  text-decoration: line-through;
}

.add-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.add-todo > input[type="text"] {
  width: 70%;
}
.add-todo > button {
  /*display: inline-block;*/
  /*width: 20%;*/
}

.weather-div {
  padding: 10px 20px;
  min-width: 275px;
  max-width: 25%;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.25);
  box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
  color: whitesmoke;
}

.place-date {
  margin-right: 50px;
}

.place-date > h2 {
  font-size: 1.25em;
  margin: 0 0 3px 0;
  padding: 0;
}

.place-date > .date {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather-info > .temperature {
  font-size: 2em;
  margin: 0 0 3px 0;
}

.weather-info > .desc {
  font-size: 1em;
}
